img {
    max-width: 100%;
    display: inline-block;
    line-height: 1.428571429;
    margin: 10px 0px 0px 0px !important;
    border: 0px !important;
    border-radius: 10px !important;
    padding: 0px !important;
}

.md-footer-meta__inner {
    display: none !important;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 5rem !important;
}

.md-header__button.md-logo {
    margin: -0.7rem !important;
}

.md-source__icon {
    transform: scale(1.5) !important;
    width: 2.5rem !important;
}

.md-source {
    font-size: 0.9rem !important;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    height: 5.4rem !important;
}

.md-nav--primary .md-nav__title .md-logo {
    @media screen and (max-width: 76.234375em) {
        display: flex;
        justify-content: center;
        align-items: center;
        
        top: -0.92rem !important;
        left: 0rem !important;
        right: -7.8rem !important;
    }
}

#codeit {
    display: none;
    @media screen and (max-width: 426px) {
        display: block;
    }
}